[user]
	name = Pato
	email = plankenau@gmail.com

[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[push]
    default = current
[branch]
    autosetupmerge = true
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    branches = branch -a
    tags = tag
    stashes = stash list
    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    amend = commit --amend
    nevermind = !git reset --hard HEAD && git clean -d -f
    precommit = diff --cached --diff-algorithm=minimal -w
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
[core]
	excludesfile = ~/.gitignore
	editor = /usr/local/bin/vim
	ignorecase = true
