! Molokai theme
*xterm*background: #101010
*xterm*foreground: #d0d0d0
*xterm*cursorColor: #d0d0d0
*xterm*color0: #101010
*xterm*color1: #960050
*xterm*color2: #66aa11
*xterm*color3: #c47f2c
*xterm*color4: #30309b
*xterm*color5: #7e40a5
*xterm*color6: #3579a8
*xterm*color7: #9999aa
*xterm*color8: #303030
*xterm*color9: #ff0090
*xterm*color10: #80ff00
*xterm*color11: #ffba68
*xterm*color12: #5f5fee
*xterm*color13: #bb88dd
*xterm*color14: #4eb4fa
*xterm*color15: #d0d0d0

*xterm*faceName: Liberation Mono:size=9:antialias=false

XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

!urxvt
!URxvt*termName: screen-256color
!URxvt*geometry: 240x84
!URxvt*loginShell: true
!URxvt*scrollColor: #777777
!URxvt*scrollstyle: plain
!URxvt*scrollTtyKeypress: true
!URxvt*scrollTtyOutput: false
!URxvt*scrollWithBuffer: false
!URxvt*secondaryScreen: true
!URxvt*secondaryScroll: true
!URxvt*skipScroll: true
!URxvt*scrollBar: false
!URxvt*scrollBar_right: false
!URxvt*scrollBar_floating: false
!URxvt*fading: 30
!URxvt*utmpInhibit: false
!URxvt*urgentOnBell: false
!URxvt*visualBell: true
!URxvt*mapAlert: true
!URxvt*mouseWheelScrollPage: false
!URxvt*background: Black
!URxvt*foreground: White
!URxvt*colorUL: yellow
!URxvt*underlineColor: yellow
!!URxvt*font: -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12
!!URxvt*boldFont: -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12
!!URxvt*italicFont: xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
!!URxvt*boldItalicFont: xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12
!URxvt*saveLines: 0
!URxvt*buffered: true
!URxvt*hold: false
!URxvt*internalBorder:
!URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
!URxvt*perl-ext-common:
!URxvt*perl-ext:

! Colors based on wallpaper
!*xterm*color0: #90a498
!*xterm*color1: #5b6e75
!*xterm*color2: #acbdab
!*xterm*color3: #ccd3b4
!*xterm*color4: #7c8c7f
!*xterm*color5: #736161
!*xterm*color6: #b3443b
!*xterm*color7: #da5c46
!*xterm*color8: #fd7a36
!*xterm*color9: #ff4727
!*xterm*color10: #de2a2b
!*xterm*color11: #f9a75d
!*xterm*color12: #dfb36a
!*xterm*color13: #9b5848
!*xterm*color14: #e35f17
!*xterm*color15: #eece91
